/*!CK:3447847019!*//*1383536240,178191655*/

.fbProfileShareSummarySection .fbProfileBylineFragment{color:#333;display:block;padding-top:3px}
.fbProfileShareSummarySection .uiIconText.fbProfileBylineFragment .img{margin-top:3px}
.sp_cn3y1i{background-image:url(/rsrc.php/v2/y2/r/Zk8bRaqkJWn.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_34745e{width:8px;background-position:0 -14px}
.sx_f3f314{background-position:0 0}

#bootloader_mF2Xy { height: 42px; }
.bootloader_mF2Xy { display:block !important; }